<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Songs to go</h3>

  <p *ngIf="authService.isAuthenticated()">Logged in as {{ authService.getUserInfo() }} </p>

  <button ion-button googleLogin *ngIf="!authService.isAuthenticated()" (click)="authService.loginGoogle()">Google Login</button>
  <button ion-button fbLogin *ngIf="!authService.isAuthenticated()" (click)="authService.loginFacebook()">Facebook Login</button>
  <button ion-button fbLogin *ngIf="authService.isAuthenticated()" (click)="authService.logout()">Logout</button>

  <p>Import</p>
  <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".csv">


</ion-content>
