<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Setlist: {{ setList?.title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides pager="false">
    <ion-slide *ngFor="let entry of entries; let idx = index">
      <pre>{{ entry.song?.text }}</pre>
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed" *ngIf="showPrev">
  <ion-fab-button (click)="slides.slidePrev()">
    <ion-icon name="arrow-dropleft"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="showNext">
  <ion-fab-button (click)="slides.slideNext()">
    <ion-icon name="arrow-dropright"></ion-icon>
  </ion-fab-button>
</ion-fab>
