<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Setlist: {{ setList?.title }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="addMode">
    <p>Add Songs to setlist:</p>
    <ion-item *ngFor="let song of songs | async" lines="full" (click)="songTapped($event, song)"> 
        <ion-label>{{song.title}}</ion-label>
        <ion-icon name="checkmark" *ngIf="isSongAdded(song.id)"></ion-icon>
        <ion-icon name="add-circle" slot="end"></ion-icon>
        <ion-icon name="arrow-dropright" *ngIf="selectedIndex !== null" slot="end"></ion-icon>
    </ion-item>            
  </ion-list>
  
  <div *ngIf="!addMode">
    <ion-item style="margin-bottom: 30px">
      <ion-label floating>Setlist Title</ion-label>
      <ion-input type="text" [(ngModel)]="setList.title" ></ion-input>
    </ion-item>
    <ion-list>
      <ion-item id="entry-{{idx}}" *ngFor="let entry of entries; let idx = index" lines="full" 
          (click)="entryTapped($event, entry, idx)" [ngClass]="selectedIndex === idx ? 'entry-selected' : 'none'">
        <ion-label>{{entry.songNumber}}. {{entry.title}}</ion-label>
        <ion-icon name="remove-circle" slot="start" (click)="entryRemoveTapped($event, entry, idx)"></ion-icon>
        <ion-icon name="arrow-dropup" slot="start" *ngIf="dropUpVisible(idx)" style="padding-right: 10px"
            (click)="entryMoveTapped($event, entry, idx, 'up')"></ion-icon>
        <div name="remove" slot="start" *ngIf="!dropUpVisible(idx)" style="padding-right: 34px"></div>
        <ion-icon name="arrow-dropdown" slot="start" *ngIf="dropDownVisible(idx)" style="padding-right: 10px" 
          (click)="entryMoveTapped($event, entry, idx, 'down')"></ion-icon>
          <div name="remove" slot="start" *ngIf="!dropDownVisible(idx)" style="padding-right: 34px"></div>
        </ion-item>
    </ion-list>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button (click)="onSetListSaveTapped($event)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="addModeOn()" *ngIf="!addMode">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="addModeOff()" *ngIf="addMode">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-fab-button>

      <ion-fab-button (click)="deleteAll()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
  
    </ion-fab-list>  
  </ion-fab>  
  

</ion-content>
