<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Setlist: {{ setList?.title }}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <ion-list>
  </ion-list>

  <ion-grid>
    <ion-row class="main-content">
      <ion-col col-6>
        <!--ion-scroll scrollY="true" style="height: 100%;"-->
          <ion-list>
            <ion-item *ngFor="let song of songs | async" lines="full" (click)="songTapped($event, song)"> 
                <ion-label>{{song.title}}</ion-label>
                <ion-icon name="add-circle" slot="end"></ion-icon>
                <ion-icon name="arrow-dropright" *ngIf="selectedIndex !== undefined" slot="end"></ion-icon>  
            </ion-item>            
          </ion-list>
        <!--/ion-scroll-->
      </ion-col>
      <ion-col col-6 class="fixed-content">
        <!--ion-scroll scrollY="true" style="height: 100%;"-->
          <ion-item style="margin-bottom: 30px">
            <ion-label floating>Setlist Title</ion-label>
            <ion-input type="text" [(ngModel)]="setList.title" ></ion-input>
          </ion-item>
          <ion-list>
            <ion-item id="entry-{{idx}}" *ngFor="let entry of entries; let idx = index" 
                (click)="entryTapped($event, entry, idx)" [ngClass]="selectedIndex === idx ? 'entry-selected' : 'none'">
              <ion-label>{{entry.songNumber}}. {{entry.title}}</ion-label>
              <ion-icon name="arrow-dropup" slot="end" *ngIf="dropUpVisible(idx)" style="padding-right: 20px"
                  (click)="entryMoveTapped($event, entry, idx, 'up')"></ion-icon>
              <ion-icon name="arrow-dropdown" slot="end" *ngIf="dropDownVisible(idx)" style="padding-right: 20px" 
                (click)="entryMoveTapped($event, entry, idx, 'down')"></ion-icon>
              <ion-icon name="remove-circle" slot="end" (click)="entryRemoveTapped($event, entry, idx)"></ion-icon>
            </ion-item>
          </ion-list>
        <!--/ion-scroll-->
      </ion-col>
    </ion-row>
  </ion-grid>
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropup"></ion-icon>
    </ion-fab-button>
  
    <ion-fab-list side="top">
      <ion-fab-button (click)="setListSaveTapped($event)">
        <ion-icon name="checkmark"></ion-icon>
      </ion-fab-button>
  
      <ion-fab-button (click)="deleteAll()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
  
    </ion-fab-list>  
  </ion-fab>  
  

</ion-content>
